<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	
    <title>SeriesX - Home for all your series</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="container" role="main">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<form class="form-horizontal" method="post" th:action="${series} ? @{/editSeries(ssn=${series.ssn})} : @{addSeries}">
					<fieldset>
						<legend th:text="${series}? 'Change series' : 'New series'">New Series</legend>


						<!-- --------------  title ---------------- -->
						<div class="form-group">
							<label for="inputTitle" class="col-md-2 control-label">Title</label>
							<div class="col-md-10">
								<input class="form-control" id="inputTitle" type="text"
									name="title" th:value="${series} ? ${series.title}">
							</div>
						</div>
						<!-- --------------  genre ---------------- -->
						<div class="form-group">
							<label for="inputGenre" class="col-md-2 control-label">Genre</label>
							<div class="col-md-10">
								<input class="form-control" id="inputGenre" type="text"
									name="genre" th:value="${series} ? ${series.genre}">
							</div>
						</div>
						
						<!-- --------------  description ---------------- -->
						<div class="form-group">
							<label for="inputDescription" class="col-md-2 control-label">Description</label>
							<div class="col-md-10">
								<input class="form-control" id="inputDescription" type="text"
									name="description" th:value="${series} ? ${series.description}">
							</div>
						</div>
						
						<!-- --------------  type  ---------------- -->
						<div class="form-group">
							<label for="inputType" class="col-md-2 control-label">Type</label>
							<div class="col-md-10">
								<input class="form-control" id="inputType" type="text"
									name="type" th:value="${series} ? ${series.type}">
							</div>
						</div>
						
						<!-- --------------  number of seasons  ---------------- -->
						<div class="form-group">
							<label for="inputNrOfSeasons" class="col-md-2 control-label">Number Of Seasons</label>
							<div class="col-md-10">
								<input class="form-control" id="inputNrOfSeasons" type="text"
									name="seasonNr" th:value="${series} ? ${series.seasonNr}">
							</div>
						</div>
						
						<!-- --------------  actors ---------------- -->
						<div class="form-group">
							<label for="inputActors" class="col-md-2 control-label">Actors</label>
							<div class="col-md-10">
								<input class="form-control" id="inputActors" type="text"
									name="actors" th:value="${series} ? ${series.actors}">
							</div>
						</div>
						
						<!-- --------------  author ---------------- -->
						<div class="form-group">
							<label for="inputAuthor" class="col-md-2 control-label">Author</label>
							<div class="col-md-10">
								<input class="form-control" id="inputAuthor" type="text"
									name="author" th:value="${series} ? ${series.author}">
							</div>
						</div>
						
						<!-- --------------  nsfw ---------------- -->
						<div class="form-group">
							<label for="inputNSFW" class="col-md-2 control-label">NSFW</label>
							<div class="col-md-10">
								<input class="form-control" id="inputNSFW" type="text"
									name="nsfw" th:value="${series} ? ${series.nsfw}">
							</div>
						</div>

						<!-- --------------  year of release ---------------- -->
						<div class="form-group">
							<label for="inputYOR" class="col-md-2 control-label">Year Of Release</label>
							<div class="col-md-10">
								<input class="form-control" id="inputYOR" type="text"
									name="yearOfRelease" th:value="${series} ? ${series.yearOfRelease}">
							</div>
						</div>
						
					

						<!-- --------------  buttons ---------------- -->
						<div class="form-group">
							<div class="col-md-10 col-md-offset-2">
								<button type="submit" class="btn btn-primary">Submit</button>
								<a href="listSeries">
									<button type="button" class="btn btn-default">Cancel</button>
								</a>
							</div>
						</div>

					</fieldset>
				</form>
			</div>
		</div>

	</div>
	<!--  End of container -->


	<div th:replace="~{includes/bootstrapJS :: bootstrapJS}" />

	<!-- JS for Datetime picker -->

	<script type="text/javascript"
		src="http://www.malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>

	<script>
		$(function() {

			$(".form_datetime").datetimepicker({
				format : "dd.mm.yyyy",
				autoclose : true,
				todayBtn : true,
				pickerPosition : "bottom-left",
				minView : 2
			});

		});
	</script>

</body>
</html>
